@model RentACar.Models.Car

@{
    ViewData["Title"] = "Create";
}

<section class="vh-100 bg-image" style="background-image: url('../../images/renault_austral.jpg'); background-size: cover">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Add a Car</h2>

                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Brand" class="form-label">Brand</label>
                                    <input asp-for="Brand" class="form-control form-control-lg" placeholder="Brand" />
                                    <span asp-validation-for="Brand" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Model" class="form-label">Model</label>
                                    <input asp-for="Model" type="text" class="form-control form-control-lg" placeholder="Model" />
                                    <span asp-validation-for="Model" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="ManufactureYear" class="form-label">Manufacture Year</label>
                                    <input asp-for="ManufactureYear" type="text" class="form-control form-control-lg" placeholder="Manufacture Year" />
                                    <span asp-validation-for="ManufactureYear" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Description" class="form-label"></label>
                                    <textarea asp-for="Description" type="text" class="form-control form-control-lg" placeholder="Description"></textarea> 
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="DailyPrice" class="form-label">Daily Price</label>
                                    <input asp-for="DailyPrice" type="number" class="form-control form-control-lg" placeholder="Daily Price" />
                                    <span asp-validation-for="DailyPrice" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="CategoryId" class="form-label"></label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Files" class="form-label"></label>
                                    <input asp-for="Files" class="form-control" type="file" multiple/>
                                    <span asp-validation-for="Files" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Create" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="background: #01D28E"/>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
