@model RentedCar

@{
    ViewData["Title"] = "Create";
}

<section class="vh-100 bg-image" style="background-image: url('../../images/renault_austral.jpg'); background-size: cover">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Add a Car</h2>

                            <form asp-action="RentACar" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-outline mb-4">
                                    <label asp-for="UserId" class="form-label">Клиент</label>
                                    <select asp-for="UserId" asp-items="ViewBag.Users"></select>
                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="RentedDate" class="form-label">Начална Дата</label>
                                    <input asp-for="RentedDate" type="date" class="form-control form-control-lg" placeholder="Начална Дата" />
                                    <span asp-validation-for="RentedDate" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="ReturnedDate" class="form-label">Крайна Дата</label>
                                    <input asp-for="ReturnedDate" type="date" class="form-control form-control-lg" placeholder="Крайна Дата" />
                                    <span asp-validation-for="ReturnedDate" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="LocationTakenId" class="form-label">Място на наемане</label>
                                    <select asp-for="LocationTakenId" asp-items="ViewBag.Locations"></select>
                                    <span asp-validation-for="LocationTakenId" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="LocationReturnedId" class="form-label">Място на наемане</label>
                                    <select asp-for="LocationReturnedId" asp-items="ViewBag.Locations" class="form-select form-select-lg"></select>
                                    <span asp-validation-for="LocationReturnedId" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Create" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="background: #01D28E"/>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*
<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureYear" class="control-label"></label>
                <input asp-for="ManufactureYear" class="form-control" />
                <span asp-validation-for="ManufactureYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyPrice" class="control-label"></label>
                <input asp-for="DailyPrice" class="form-control" />
                <span asp-validation-for="DailyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
