@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="vh-100 bg-image" style="background-image: url('../../images/renault_austral.jpg'); background-size: cover">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-center text-danger mb-5">You do not have access to this functionality!</h2>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex justify-content-center">Go back to home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
