@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/register.css" />

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form id="registerForm" method="post">
                                <div class="form-outline mb-4">
                                    <label asp-for="Input.CustomUsername" class="form-label">Username</label>
                                    <input asp-for="Input.CustomUsername" class="form-control form-control-lg" placeholder="Username"/>
                                    <span asp-validation-for="Input.CustomUsername" class="text-danger"></span>

                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <input asp-for="Input.Email" type="text" class="form-control form-control-lg" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.FirstName" class="form-label">First Name</label>
                                    <input asp-for="Input.FirstName" type="text" class="form-control form-control-lg" placeholder="First Name" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.LastName" class="form-label">Last Name</label>
                                    <input asp-for="Input.LastName" type="text" class="form-control form-control-lg" placeholder="Last Name" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input asp-for="Input.Password" type="password" class="form-control form-control-lg" placeholder="Password"/>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.ConfirmPassword" class="form-label">Repeat your password</label>
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Confirm Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="background: #01D28E">
                                        Register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a asp-page="Login"
                                                                class="fw-bold text-body"><u>Login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
